language: php

php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3

before_script:
  - composer install --prefer-source --no-interaction

script:
  - ./vendor/bin/phpunit --coverage-clover=coverage.clover

after_success:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover